body {
    background-color:lightblue;
}
.container {
    display:flex;
    min-height:100vh;
}
.right-container {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:70vw;
    background-color:blue;
}
.left-container {
    width: 30vw;
    background-color:green;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
button {
    width:100px;
    height:50px;
    display:flex;
    justify-content:center;
}